@import 'https://fonts.googleapis.com/css?family=Poppins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

/** Body elements **/
body {
  background-color: #E5E5E5;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

#logo {
  color: #6070ff;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-left: 24px;
}

.menu {
  color: #6070ff;
  font-size: 1.3rem;
}

#navbar-icone {
  color: #6070ff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.icon-group {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0%;
  margin-left: 24px;
  color: #505f79;
}

.icon {
  padding: 10px;
  color: #505f79;
  font-size: large;
}

.fa-brands {
  color: #505f79;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./assits/header-shapes mobile.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
}

.welcome {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
  margin-left: 24px;
}

.about_me {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-left: 24px;
}

.connect_me a {
  color: #7f8cff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 24px;
}

.card {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  background-color: #fff;
  margin: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;  
}

.card-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
}

.card-description{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}



.client-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.role-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

.year-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

ul {
  list-style-type: none;
}

.card-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}

.main-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.card-info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.tag-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #EBEBFF;
  border-radius: 8px;
}

.action-button {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070FF;
  border-radius: 8px;
}

.button-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396DF2;
}

.card-img {
  width: 100%;
  border-radius: 8px;
  margin: 16px 16px 16px 16px;
}