@import "https://fonts.googleapis.com/css?family=Poppins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/** Body elements **/
body {
  background-color: #f7f7f9;
  height: auto;
  font-family: "Inter", sans-serif;
  margin: 0px;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}

.navbar-text {
  font-size: 50px;
}

#logo {
  color: #6070ff;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-left: 24px;
}

.menu {
  color: #6070ff;
  font-size: 1.3rem;
}

.menu-list {
  display: none;
}

#navbar-icone {
  color: #6070ff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.hero-intro {
  background-image: url("./assits/header-shapes mobile.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 40px;
}

.container-hello {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.hero-welcome {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  margin-top: auto;
}

.hero-about_me {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  text-decoration: none;
}

.icon-group {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0%;
  color: #505f79;
  gap: 10px;
}

.icon {
  padding: 10px;
  color: #505f79;
  font-size: large;
  width: 20px;
}

.fa-brands {
  color: #505f79;
  padding: 10px;
  font-size: large;
  width: 20px;
}

.welcome {
  font-family: Poppins, sans-serif;
  font-size: 100px;
  line-height: 130px;
  font-weight: 700;
  margin-top: 200px;
  text-align: left;
  color: #172b4d;
  margin-left: 24px;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  font-style: normal;
  padding-top: 85px;
}

.about_me {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  text-decoration: none;
}

.connect_me a {
  color: #7f8cff;
  text-decoration: none;
  font-size: 16px;
}

.cards {
  display: grid;
  justify-content: center;
  width: 100%;
  background-color: #f7f7f9;
  overflow: hidden;
}

.my-card {
  padding: 10px 10px 30px 10px;
  border-collapse: separate;
  perspective: 1px;
  border-radius: 16px;
  background-color: #fff;
  margin: 16px;
  margin-top: 40px;
}

.my-card img {
  width: 70%;
}

.container1 {
  max-width: 4000px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.container2 {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 4000px;
  margin-left: 8px;
  margin-right: 8px;
}

.card-title {
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
}

.card-description {
  font-weight: 400px;
  font-size: 15px;
  color: #344563;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.client-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
}

.role-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  padding-left: 20px;
}

.year-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  padding-left: 20px;
}

ul {
  list-style-type: none;
}

.card-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.card-info {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 15px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding-left: 0.1px;
}

.tag-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500px;
  font-size: 12px;
  background-color: #ebebff;
  padding: 8px 12px;
  margin-right: 10px;
}

.view-more {
  color: #396df2;
  font-weight: 600px;
  font-size: 17px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 14px;
  border: 1.5px solid #396df2;
}

.view-more:hover {
  background-color: #6465ff; /* Green */
  color: #fff;
}

.view-more:active {
  background-color: #2913d6; /* Green */
  color: #fff;
}

.view-more:disabled {
  background-color: #fff; /* Green */
  color: #606c85;
}

.action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 12px;
  gap: 1px;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.my-skills {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  padding: 8px;
  background-color: #fff;
}

.about-me {
  background-color: #f7f7f9;
}

.about-myself-tittle {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
}

.about-me-intro {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #fff;
  border-top-right-radius: 50px;
}

.about-myself {
  background-color: #e5e5e5;
}

.about-myself-intro {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0 50px 0 0;
}

.about-myself-skills {
  background-color: #fff;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.skill-name {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #000;
}

.skill-name.fas {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #acb7c3;
}

.sub-skills {
  display: flex;
  flex-direction: column;
  padding: 0.1px;
}

.sub-skill {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 4px 10px;
  margin-bottom: 20px;
}

.sub-skill-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.sub-skill-name {
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  padding-top: 15px;
}

.main-skills {
  padding: 0;
}

.see-project {
  padding: 12px;
  background: #36b37f;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border-style: none;
  border-radius: 4px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  background-image: url("./assits/contact.png");
  background-size: 60%;
  background-position-x: right;
  background-repeat: no-repeat;
  margin-top: 70px;
  gap: 20px;
  padding: 103px 24px 45px 24px;
  border-top-left-radius: 92px;
}

.contact-me-text {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.contact-main-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

form input {
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 0 15px 16px;
  color: #172b4d;
}

form textarea {
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 0 15px 16px;
  color: #b3bac5;
}

.submit-div {
  display: flex;
  width: 90%;
}

#submit {
  color: #6070ff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  background: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  border: none;
  margin-bottom: 45px;
}

#submit:hover {
  color: #fff;
  background: #6070ff;
}

#submit:focus {
  color: #fff;
  background: #2230d2;
}

#submit:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #menu-icon {
    display: none;
  }

  a {
    text-decoration-line: none;
    color: #344563;
  }
  
.container {
  padding-left: 5%;
  padding-right: 5%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.container {
  padding-right: 10%;
  padding-left: 10%;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  margin: 0px;
}

.navbar-text {
  font-size: 50px;
}

#logo {
  color: #6070ff;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-left: 24px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-list > li {
  margin-left: 30px;
  list-style-type: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}
.hero-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./assits/desktop-background1.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 95%;
  border-radius: 0 0 0 50px;
}
.hero-holder {
  background-color: #e5e5e5;
}
.about-me-intro {
  color: #091e42;
  font-size: 48px;
  font-weight: 700;
}
.about-me {
  font-weight: 400;
  font-size: 20px;
  color: #344563;
  text-decoration: none;
  line-height: 28px;
}

.my-card {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.my-card img {
  width: 50%;
}

.my-card img.swap {
  order: 1;
}

.main-card-text {
  padding-left: 20px;
  width: 50%;
}
h2.card-title {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 52px;
}
.card-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-desc .client-text {
  font-weight: 600;
  font-size: 13px;
  color: #344563;
}

.card-desc .role-text {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  padding-left: 20px;
}

.card-desc .year-text {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  padding-left: 20px;
}

p.card-info {
  font-weight: 400px;
  font-size: 16px;
  color: #344563;
}
.about-me {
  display: flex;
}

.about-me-intro {
  width: 50%;
  border-radius: 0 0 0 0;
  padding-bottom: 10vh;
  padding-left: 5%;
}
.my-skills {
  padding-top: 10vh;
  width: 50%;
  border-radius: 0 50px 0 0;
  padding-bottom: 10vh;
  padding-right: 5%;
}

.sub-skills {
  display: flex;
  flex-direction: row;
}

.sub-skill {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 10px;
}

.sub-skill-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.sub-skill-name {
  font-weight: 600;
  font-size: 15px;
  color: #253858;
  padding-top: 0;
}

.contact-form {
  background-image: url("./assits/desktop-background2.png");
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: 90% 95%;
  padding-right: 30%;
  padding-left: 30%;
  padding-bottom: 10vh;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./assits/desktop-background3.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 95%;
    border-radius: 0 0 0 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}
